In [1]:
import pandas as pd

C:\Users\TEMP.DSLSERVER.001\AppData\Local\Temp\ipykernel_9844\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data =  pd.read_csv('../pl.csv')

In [4]:
data

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
3,Leicester City FC,Leicester City,2018/2019,England,38,19,19,0,15,8,...,7,1,9,18,16,21,42,42,42,5
4,Crystal Palace FC,Crystal Palace,2018/2019,England,38,19,19,0,14,5,...,8,8,11,18,26,11,45,47,42,11
5,Everton FC,Everton,2018/2019,England,38,19,19,0,15,10,...,10,5,4,24,21,26,37,26,47,11
6,Burnley FC,Burnley,2018/2019,England,38,19,19,0,11,7,...,10,4,15,18,11,26,53,53,53,0
7,Southampton FC,Southampton,2018/2019,England,38,19,19,0,9,5,...,5,4,14,32,42,21,45,32,58,8
8,AFC Bournemouth,AFC Bournemouth,2018/2019,England,38,19,19,0,13,8,...,8,6,11,16,26,5,50,32,68,11
9,Manchester United FC,Manchester United,2018/2019,England,38,19,19,0,19,10,...,7,7,7,24,32,16,26,16,37,8
10,Liverpool FC,Liverpool,2018/2019,England,38,19,19,0,30,17,...,3,3,4,18,11,26,3,0,5,5
11,Chelsea FC,Chelsea,2018/2019,England,38,19,19,0,21,12,...,3,4,3,24,32,16,21,5,37,3
12,West Ham United FC,West Ham United,2018/2019,England,38,19,19,0,15,9,...,5,6,11,18,21,16,42,32,53,5
13,Watford FC,Watford,2018/2019,England,38,19,19,0,14,8,...,3,12,9,21,16,26,42,42,42,8
14,Newcastle United FC,Newcastle United,2018/2019,England,38,19,19,0,12,8,...,3,6,12,24,5,42,45,53,37,16
15,Cardiff City FC,Cardiff City,2018/2019,Wales,38,19,19,0,10,6,...,12,3,16,11,11,11,63,58,68,16
16,Fulham FC,Fulham,2018/2019,England,38,19,19,0,7,6,...,8,10,15,13,16,11,68,53,84,8
17,Brighton & Hove Albion FC,Brighton & Hove Albion,2018/2019,England,38,19,19,0,9,6,...,9,9,6,24,26,21,53,42,63,5
18,Huddersfield Town FC,Huddersfield Town,2018/2019,England,38,19,19,0,3,2,...,7,13,11,18,16,21,74,74,74,0
19,Wolverhampton Wanderers FC,Wolverhampton Wanderers,2018/2019,England,38,19,19,0,16,10,...,5,7,7,24,21,26,34,26,42,8

In [6]:
data['team_name']

0                     Arsenal FC
1           Tottenham Hotspur FC
2             Manchester City FC
3              Leicester City FC
4              Crystal Palace FC
5                     Everton FC
6                     Burnley FC
7                 Southampton FC
8                AFC Bournemouth
9           Manchester United FC
10                  Liverpool FC
11                    Chelsea FC
12            West Ham United FC
13                    Watford FC
14           Newcastle United FC
15               Cardiff City FC
16                     Fulham FC
17     Brighton & Hove Albion FC
18          Huddersfield Town FC
19    Wolverhampton Wanderers FC
Name: team_name, dtype: object

In [8]:
# Counting the Teams present inside the Premier League

In [17]:
data['team_name'].value_counts()
print(f'Total Teams Present inside the Premier League : {data.team_name.count()}')

Total Teams Present inside the Premier League : 20

In [18]:
data.describe(include = "all")

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
count,20,20,20,20,20.0,20.0,20.0,20.0,20.000000,20.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
unique,20,20,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Arsenal FC,Arsenal,2018/2019,England,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,20,19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,15.450000,9.050000,...,6.650000,5.950000,9.300000,18.650000,18.800000,18.700000,40.700000,33.750000,47.600000,7.450000
std,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.250953,4.019361,...,2.960708,3.379115,4.040584,6.603627,9.955691,9.268509,17.812178,19.886189,18.633304,4.382681
min,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,3.000000,2.000000,...,3.000000,1.000000,3.000000,5.000000,0.000000,0.000000,3.000000,0.000000,5.000000,0.000000
25%,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,10.750000,6.000000,...,4.000000,3.750000,6.750000,17.500000,11.000000,11.000000,32.000000,23.500000,40.750000,5.000000
50%,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,14.500000,8.000000,...,7.000000,6.000000,9.500000,18.000000,16.000000,21.000000,42.000000,32.000000,42.000000,8.000000
75%,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,19.500000,10.500000,...,8.250000,8.000000,11.250000,24.000000,26.000000,26.000000,50.750000,48.500000,59.250000,11.000000
max,NaN,NaN,NaN,NaN,38.0,19.0,19.0,0.0,32.000000,18.000000,...,12.000000,13.000000,16.000000,32.000000,42.000000,42.000000,74.000000,74.000000,84.000000,16.000000

In [23]:
data[data['wins'] > 20].sort_values('wins',ascending=False)

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
10,Liverpool FC,Liverpool,2018/2019,England,38,19,19,0,30,17,...,3,3,4,18,11,26,3,0,5,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
11,Chelsea FC,Chelsea,2018/2019,England,38,19,19,0,21,12,...,3,4,3,24,32,16,21,5,37,3

In [32]:
data[data['team_name'] == 'Manchester City FC']

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5